.todo-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #594eb7;
    padding: 17px 20px 17px 20px;
    row-gap: 10px;
    transform: translateX(100%);
}